@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  background-color: #f5f4ef;
  font-family: Roboto, sans-serif;
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header h1 {
  margin: 0px;
  padding-left: 10px;
}

.header p {
  margin: 0px;
  padding-left: 10px;
}

.flexbox-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexbox-item {
  width: 70%;
}

.strikethrough {
  text-decoration: line-through;
}

.underline {
  text-decoration: underline;
}

nav {
  padding-bottom: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000305;
  border-radius: 5px;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover:not(.active) {
  background-color: #c74350;
}

.feature-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.feature-article h2,
.feature-article a {
  color: #c74350;
}

.feature-article a:hover:not(.active) {
  background-color: #c74350;
  color: #fff;
}

.feature-article img {
  padding-right: 20px;
}

.feature-article .none-image {
  -ms-flex-negative: 2;
      flex-shrink: 2;
  padding-left: 16px;
}

.feature-article .none-image h2,
.feature-article .none-image h3,
.feature-article .none-image p {
  font-weight: 500;
}

.feature-article .none-image h2 {
  margin: 0px;
  padding: 15px 0 5px 0px;
}

.feature-article .none-image h3 {
  margin: 0px;
  padding-bottom: 10px;
}

.feature-article .none-image p {
  margin: 0px;
  padding-bottom: 10px;
  width: 350px;
  font-size: small;
}

.article-list {
  background-color: #fff;
  border-radius: 5px;
}

.article-list article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  border-bottom-style: inset;
  font-weight: 500;
}

.article-list article:hover:not(.active) {
  background-color: #c74350;
  color: #fff;
}

.article-list article:hover:not(.active) h2,
.article-list article:hover:not(.active) a {
  color: #f6cf74;
}

.article-list h2 {
  color: #c74350;
  font-weight: 500;
  margin: 0px;
}

.article-list p {
  margin: 0px;
  font-size: small;
}

.article-list span {
  font-size: small;
  width: 150px;
  padding: 25px;
}

.article-list span time {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

.article-list span address {
  font-style: normal;
}

.article-list div {
  -ms-flex-negative: 10;
      flex-shrink: 10;
  padding: 20px;
}

.article-list a {
  color: #c74350;
}

.blogroll-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
}

.blogroll-social h2 {
  color: #c74350;
  margin: 0;
  padding-top: 20px;
  font-weight: 500;
}

.blogroll-social ul {
  list-style-type: none;
  padding: 5px 0 0 0;
  margin: 0;
  -webkit-column-width: 150px;
          column-width: 150px;
}

.blogroll-social li {
  font-size: small;
  font-weight: 430;
  padding: 3px 0 3px 0px;
  border-bottom: 0.3px ridge pink;
}

.blogroll-social li:hover:not(.active) {
  background-color: #c74350;
  color: #fff;
}

.blogroll ul {
  -webkit-column-count: 3;
          column-count: 3;
}

.social {
  padding-left: 30px;
}

.social ul {
  -webkit-column-count: 1;
          column-count: 1;
}

.social li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social li img {
  padding-right: 3px;
}

.social li p {
  margin: 0;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
}

.main-footer header {
  width: 400px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0 50px 0 20px;
}

.main-footer header a {
  color: #c74350;
  text-decoration: none;
  font-weight: 500;
}

.main-footer header a:hover:not(.active) {
  background-color: #c74350;
  color: #fff;
}

.main-footer header h2,
.main-footer header p {
  margin: 0;
}

.main-footer img {
  width: 50px;
  height: 50px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-right: 20px;
}

.main-footer p {
  font-weight: 500;
  padding-right: 10px;
  font-size: small;
}

.sub-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  font-size: small;
  font-weight: 500;
}

.sub-footer time {
  padding-right: 7px;
}

.sub-footer a {
  color: #c74350;
}

.sub-footer a:hover:not(.active) {
  background-color: #c74350;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */