$background-color: #f5f4ef;
$primary-color: #c74350;
$text-dark-color: #000305;
$text-light-color: #fff;
$text-highlight-color: #f6cf74;

$featured-article-image: "http://via.placeholder.com/250x105";
$footer-image: "http://via.placeholder.com/50x50";
$social-icons: "http://via.placeholder.com/15x15";

body {
  display: flex;
  justify-content: center;
}
